* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    padding: 20px;
}

.hello {
    padding: 80px;
    padding-top: 240px;
    // background: #159;
    color: #fff;
    margin: -20px;
}