* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    // height: 200vh;
    background: #000;
    color: white;
}

.hello {
    padding: 20px 33vw;
    background: #159;
    color: #fff;
}